body {
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 20px;
}

ul {
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
}

h3 {
	text-align: center;
}

.columnCalender {
	float: left;
	padding: 0;
	margin: 0;
	border: solid;
}

.addedInfo {
	list-style-type: none;
	padding: 0;
	text-align: center;
}

.columns {
	float: left;
	padding: 0;
	padding-bottom: 1.25%;
	padding-left: 1%;
	padding-right: 0.5%;
	margin: 0;
	border: solid;
	border-radius: 25px;
}

